@media (min-width: 768px) {
  
  div#page-title {
	padding-top: 50px;
  }
  
  .brand.logo img {
    width: 300px;
  }

  .caption {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 30%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #000;
  }

  .frontpage-spacing {
    padding-top: 150%;
  }
 
  /*Candidates */
  .candidate-img img {
	  border-radius: 20px;
	  height: 200px;
	  width: 200px;
      margin: 0 auto 20px auto;
	  display: block;
  }

  /*Social Media Footer */
  .social-media > a {
	  position: relative;
	  width: 128px;
	  height: 128px;
	  background: #00c4ff;
	  display: inline-block;
	  border-radius: 128px;
	  -moz-border-radius: 128px 128px 128px 128px;
	  -webkit-border-radius: 128px 128px 128px 128px;
	  color: #fff;
	  margin: 0px 20px;
  }

  .social-media.front > a {
	  position: relative;
	  top: -64px;
	  width: 128px;
	  height: 128px;
	  background: #00c4ff;
	  display: inline-block;
	  border-radius: 128px;
	  -moz-border-radius: 128px 128px 128px 128px;
	  -webkit-border-radius: 128px 128px 128px 128px;
	  color: #fff;
	  margin: 0px 20px;
  }

  .social-media > a > .fa {
	  position: absolute;
	  left: 20%;
	  top: 20%;
	  font-size: 90px;
  }

  .social-media > a > .fa-facebook {
	  position: absolute;
	  left: 28%;
	  top: 20%;
	  font-size: 90px;
  }

  .contact-message-feedback-form {
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid #e9e8ed;
    padding: 10px 30px;
    background: #fdfdfd;
  }

  .footer-widgets,
  .footer-space {
    text-align: left;
  }

  .comment-wrap .author-details {
    width: 10%;
  }

  .comment-wrap .author-comments {
    width: 90%;
  }

}

@media (max-width: 767px) {

  .footer-ribbon ul.menu,
  .footer-ribbon .social-media {
    text-align: center;
  }

  .footer-ribbon .social-media a {
    top: -5px;
  }

}
