body {
  font-family: 'Exo 2', sans-serif;
  font-size: large;
  line-height: 160%;
  color: #333;
  overflow-x: hidden;
  font-weight: 300;
  background-color: #fff;
}

.container {
  max-width: 1000px;
}

p {
  margin: 0 0 20px 0;
}

h1,
.h1 {
  font-size: xx-large;
  color: #000;
}

h2,
.h2 {
  font-size: x-large;
  color: #000;
}

h3,
.h3 {
  font-size: large;
  color: #000;
}

h4,
.h4 {
  font-size: medium;
  color: #000;
}

img {
  max-width: 100%;
}

.nt {
  color: #2f6f9f;
}

a {
  /*color: #1abc9c;*/
  color: #00c4ff;
}

a:hover {
  color: #00614e;
  text-decoration: none;
}

ul.links.inline {
  padding: 0;
}

ol,
ul {
  padding-left: 20px;
}

ul.links.inline li {
  list-style: none;
}

.block {
  margin-bottom: 12px;
}

.region-content {
  padding: 10px 2px;
}

.block h2.title {
  text-transform: uppercase;
}

.main-header nav {
  border: 0;
  margin: 0;
  position: relative;
  z-index: 999;
}

.main-header .region {
  position: relative;
  z-index: 2;
}

.main-header .block {
  margin: 0;
}

/*Region Header*/

.site-branding {
  /*margin: 0;*/
}

.brand.logo {
  margin-right: 5px;
}

.brand.logo img {
  width: 100%;
}

.region-header  {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}
.region-header .brand {
  display: block;
  vertical-align: middle;
  line-height: 100%;
  padding: 9px 0;
}

.site-name a {
  font-size: 18px;
  font-weight: 500;
  color: #00c4ff;
}

.region-header .site-branding__slogan {
  font-size: 10px;
  color: #00c4ff;
}

/*Banner*/

.banner {
  background-image: url(../images/banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 49.25%; /* (img-height / img-width * width) */
                /* (591 / 1200 * 100)=49.25 */ 
  border-bottom: 2px solid #00c4ff;
}

.banner h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/*Top Widget*/

.topwidget {
  padding: 20px 0 0 0;
  text-align: center;
}

.topwidget .fa {
  font-size: 42px;
  background: #00c4ff;
  width: 80px;
  height: 80px;
  padding: 20px 0 0 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  color: #fff;
  margin-bottom: 10px;
}

.topwidget .block {
  padding: 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fafafa;
}

/*Promo*/

.region-promo {
  border: 1px solid #e9e8ed;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  margin: 20px 0;
  background: #fdfdfd;
}

.region-promo h2 {
  margin: 5px 0;
}

.region-promo p,
.region-promo .block {
  margin: 0;
}

/*Sidebar Blocks*/

.sidebar .block {
  background: #fafafa;
  padding: 10px;
}

.sidebar .block h2.title {
  text-transform: capitalize;
  margin-top: 0;
}

/*Footer Widgets*/

.footer-widgets .block {
  background: #fafafa;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.footer-widgets .block h2.title {
  margin: 5px 0 10px 0;
}

.footer-widgets {
  padding: 20px 0;
}

.footer-widgets img {
  max-width: 100%;
  border: 5px solid #fff;
  box-shadow: 0px 0px 2px #ddd;
}

/*Footer Ribbon*/

.footer-ribbon {
  margin: 0;
  border: 0;
  background: #fafafa;
  color: #fff;
  position: relative;
}

.footer-ribbon ul {
  margin: 10px 0;
  padding: 0;
}

.footer-ribbon nav li {
  display: inline-block;
}

.footer-ribbon nav li a {
  display: block;
  padding: 5px;
}

#footer-bottom {
  text-align: center;
  padding: 25px 0 5px;
  background: #fff;
  position: relative;
}

/*Copyright & Credit*/

.copy_credit .copyright,
.copy_credit .credit {
  margin: 10px;
}

/*Scroll Top*/

#toTop a.scrollUp {
  background: #00c4ff;
  width: 60px;
  height: 60px;
  display: inline-block;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  cursor: pointer;
}

#toTop a.scrollUp .fa {
  color: #fff;
  font-size: 30px;
  height: 54px;
  line-height: 54px;
  width: 54px;
}

#toTop a.scrollUp:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  background: #0f7864;
}

/*Social Media*/

.social-ribbon {
  border: 0;
  background: #fafafa;
  color: #fff;
  position: relative;
}


.social-media {
  text-align: center;
}

.social-media > a {
  position: relative;
  width: 64px;
  height: 64px;
  background: #00c4ff;
  display: inline-block;
  border-radius: 64px;
  -moz-border-radius: 64px 64px 64px 64px;
  -webkit-border-radius: 64px 64px 64px 64px;
  color: #fff;
  margin: 0px 20px;
}

.social-media > a > .fa {
  position: absolute;
  left: 20%;
  top: 20%;
  font-size: 45px;
}

.social-media > a > .fa-facebook {
  position: absolute;
  left: 28%;
  top: 20%;
  font-size: 45px;
}

.social-media .icon-twitter:hover {
  background: #00aced;
  color: #fff;
}

.social-media .icon-facebook:hover {
  background: #3b5998;
  color: #fff;
}

.social-media .icon-gplus:hover {
  background: #dd4b39;
  color: #fff;
}

.social-media .icon-linkedin:hover {
  background: #0274b3;
  color: #fff;
}

.social-media .icon-youtube:hover {
  background: #e12b28;
  color: #fff;
}

/*Designer Line - Horizontal*/

hr.style-mint {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(26,188,156,0), rgba(26,188,156,0.75), rgba(26,188,156,0));
  background-image: -moz-linear-gradient(left, rgba(26,188,156,0), rgba(26,188,156,0.75), rgba(26,188,156,0));
  background-image: -ms-linear-gradient(left, rgba(26,188,156,0), rgba(26,188,156,0.75), rgba(26,188,156,0));
  background-image: -o-linear-gradient(left, rgba(26,188,156,0), rgba(26,188,156,0.75), rgba(26,188,156,0));
  margin: 0;
  position: relative;
  top: 30px;
}

/*Form*/

input,
button,
select,
textarea {
  padding: 8px;
  border: 1px solid #00c4ff;
}

.contact-message-form label {
  display: block;
}

.btn,
input[type="submit"] {
  background: #00c4ff;
  color: #fff;
  border: 0;
  line-height: 100%;
  padding: 10px;
}

.btn:hover,
input[type="submit"]:hover {
  background: #00614e;
}

.btn-group-lg>.btn, .btn-lg {
  font-size: 40px;
}

/*Front Page*/
.path-frontpage .feed-icon {
  display: none;
}

.feed-icon {
  background: url(/core/misc/feed.svg) no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 16px;
  height: 16px;
}

/*Menu*/

.navbar-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fafafa;
  border-bottom: 2px solid #00c4ff;
}

#mmenu-page-wrapper {
	height: 100vh;
}

#main-menu:not( .mm-menu ) {
	display: none;
}

/*Breadcrumb*/

.breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  font-size: 11px;
}

.breadcrumb ul {
  padding: 0;
  margin: 0;
}

.breadcrumb ul li {
  display: inline-block;
}

/*Search Form*/

.search-block-form {
  max-width: 500px;
  margin: 0 auto;
}

.region-search {
  padding: 15px;
}

#search-block-form {
  display: table;
  width: 100%;
}

#search-block-form .form-item,
#search-block-form .form-actions {
  display: table-cell;
  vertical-align: top;
  position: relative;
}

#search-block-form .form-search {
  padding-right: 34px;
}

#search-block-form .form-actions {
  left: -41px;
  width: 41px;
}

#search-block-form input {
  width: 100%;
  height: 41px;
}

#search-block-form .fa-search {
  color: #00c4ff;
  font-size: 20px;
  left: 32%;
  position: absolute;
  top: 27%;
}

#search-block-form input[type="submit"] {
  background: transparent;
}

#search-block-form input[type="submit"]:hover {
  background: transparent;
}

#search-block-form .form-actions:hover i {
  color: #00614e;
  cursor: pointer;
}

/*Demo Typography*/

.bd-example {
  position: relative;
  padding: 20px;
  border: 2px solid #f7f7f9;
}

.highlight {
  padding: 5px;
  background-color: #f7f7f9;
  margin: 15px 0;
}

.highlight pre {
  border: 0;
  background: none;
  margin: 0;
}

.bd-example-type .table tr:first-child td {
  border-top: 0;
}

.bd-example-type h1,
.bd-example-type h2,
.bd-example-type h3,
.bd-example-type h4,
.bd-example-type h5,
.bd-example-type h6 {
  margin: 0;
}

.bd-example-type .table td {
  padding: 15px 0;
  border-color: #eee;
}

/*Contact Form*/

.contact-message-feedback-form .form-text,
.contact-message-feedback-form .form-email,
.contact-message-feedback-form .form-textarea {
  width: 100%;
}

/*User Login Form*/

.user-login-form,
.user-form,
.user-pass {
  max-width: 500px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #fff;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text {
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/*Comment*/

.comment-wrap {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

.comment-wrap .author-details {
  float: left;
  width: 20%;
}

.comment-wrap .author-comments {
  padding-left: 5px;
  float: left;
  width: 80%;
}

.comment-submitted {
  margin: 3px 0;
  font-size: 12px;
  display: inline-block;
  line-height: 100%;
}

.comment-wrap .author-comments h3 {
  margin-top: 10px;
}

.comment-wrap .author-comments p {
  margin-bottom: 10px;
}

/*links Inline*/

ul.links.inline li {
  display: inline-block;
  padding-right: 10px;
}

/*Profile Page*/

.path-user .profile >div {
  display: inline-block;
}

.path-user .profile .label {
  display: block;
  color: #333;
}

/*Candidates */

#block-candidates-block h2 {
  font-size: x-large; 
  text-align: center;
}

.candidate-name {
	text-align: center;
}
.candidate-name p {
  text-align: center;
  margin-top: 20px;
  font-size: large;
}
.candidate-img img {
  border-radius: 20px;
  height: 100px;
  width: 100px;
  margin: 0 auto 20px auto;
  display: block;
}

/* Page-title padding for mobile */

div#page-title {
	padding-top: 50px;
}

/* Blog page */
div.blog-row {
  padding-bottom: 20px;
}

.views-field-field-teaser-image img {
  border-radius: 20px;

}

/*Frontpage parallax sections */

.frontpage-spacing {
	padding-top: 100vh;
}

.frontpage-spacing-2 {
	padding-top: 50vh;
}

div#wrapper {
	position: relative;
	background: white;
}

.parallax-1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  background-image: url(../images/parallax-1.jpg);
}

.parallax-2 {
  height: 100%;
  width: 100%;
  position: absolute;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../images/parallax-2.jpg);
}

.parallax-3 {
  height: 100%;
  width: 100%;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(../images/parallax-3.jpg);
}
.caption {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 30%;
    width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
    text-align: center;
    color: #000;
}

.caption span {
    color: #fff;
    font-size: 25px;
}
